button:active, button:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0 !important;
}

footer{
  margin-top: 40px;
  border-top: 1px solid #e7e7e7;
  font-size: 0.8rem;
  padding: 10px 0 10px;
}

.content {
  padding-top: 70px;
}

div {
  box-sizing: border-box;
}

.main_block{
  position: relative;
  max-width: 400px;
  min-width: 300px;
  box-sizing: border-box;
  padding: 10px;
  background: #F8F9FA;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.main_block_name{
  display: inline-block;
}

h2, .h2 {
  font-size: 1.5rem;
}

/*Блок с заданиями*/

.main_block_tasks{
  max-height: 220px;
}

.main_block_task{
  padding: 3px 0 10px;
}
.main_block_task:last-child{
  padding: 3px 0 0 0;
}
.main_block_line{
  background-color: #000000;
  bottom: 35px;
  content: "";
  display: block;
  left: 67px;
  position: absolute;
  top: 60px;
  width: 2px;
  z-index: 1;
}
.main_block_date{
  float: left;
  display: block;
  font-size: 1.3rem;
}
.main_block_task_name{
  margin-left: 70px;
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
}
.main_block_task_name::before{
  float: left;
  margin-top: -2px;
  position: absolute;
  left: 62px;
  content:"•";
  font-size: 2rem;
  line-height: 0.88;
}
.main_block_course{
  display: block;
  width: auto;
  font-size: 0.7rem;
  text-overflow: ellipsis;
}

/* расписание*/
.calendar{
  width:300px;
  color:#363b41;
  display: inline-block;
}

.calendar_header{
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.header_copy{
  color: #A39D9E;
  font-size:20px;
  margin: 0;
}

.cl_copy{
  font-size:20px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add{
  display: inline-block;
  width: 40px;
  height:40px;
  border-radius:50%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 65px;
  color:#c2c2c2;
  padding: 11px 13px;
}
.calendar_events{
  color: #A39D9E;
}

.calendar_date{
  padding: 5px 0 0;
  margin: 0;
  font-size: 14px;
  border: none;
  float: right;
}

.ce_title{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  text-align: center;
  font-size:14px;
  padding: 10px 0;
  margin: auto;
}

.event_item{
  margin:5px 0;
  padding:5px;
  cursor: pointer;
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: #A39D9E;
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: #007bff;
}

.ei_Title{
  margin-left:10px;
  color:#363b41;
}

.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.ce_title > .left, .right{
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: inline;
  border: none;
  vertical-align: baseline;
}
.ce_title > .left{
  float: left;
}
.ce_title > .right{
  float: right;
}
@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}