.ava{
    right: 0;
    top:8px;
}
a.ava{
    display: block;
}
a.ava::after{
    display: none;
}
img.ava{
    display: block;
    float: right;
    margin-top: -5px;
    margin-left: 7px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}
img.ava:hover{
    border: 1px solid #dee2e6;
}
.notice-count{
    position: absolute;
    margin: -6px 6px 0 0;
    padding: 3px 0 0 1px  !important;
    top: 0px;
    right: 0px;
    z-index: 1;
    height: 20px;
    width: 20px;
    color: #fff !important;
    border-radius: 50%;
    text-decoration: none;
    text-align: center !important;
    font-size: 8pt !important;
    font-weight: bold;
    background-color: #ff0000;
}
.notice-count:hover{
    background-color: #c20000;
}
@media (max-width: 560px) {
    .notice-count{
        display: none;
    }
}
/* Конец авы */

.list-group small, .list-group h5 {
    min-width: 100px !important;
}

.picker__select--month{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.picker__footer button, .picker__nav--prev, .picker__nav--next, .picker__day--infocus{
    border-radius: 0.25rem !important;
}
.picker__day--infocus:hover{
    background: #EEEEEE !important;
}
table.picker__table{
    width: 94% !important;
    margin: 10px !important;
}

.timespan{
    height: 14px;
    margin-top: 2px;
}
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em !important;
        left: 1px;
    }
    table .th-sm {
        min-width: 0;
    }
    tbody td{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    table.table a {
        color: #007bff;
    }
    table.table th.col-1, table.table td.col-1{
        min-width: 40px;
    }
    table.table th.col-2, table.table td.col-2{
        min-width: 80px;
    }
    table.table th.col-3, table.table td.col-3{
        min-width: 120px;
    }

/*---- Начало главной студента ----*/
.onelinetext{
    white-space: nowrap;
    overflow-x: auto;
}
@media (min-width: 768px) {
    .onelinetext{
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}
.point{
    padding-top: 9px;
}
.point::before{
    position: relative;
    color: #424242;
    line-height: 0;
    font-size: 27pt;
    content: "•";
    z-index: 100;
}
.line{
    background-color: #424242;
    bottom: 32px;
    content: "";
    display: block;
    left: 46.5px;
    position: absolute;
    top: 61px;
    width: 2px;
}
.shade{
    pointer-events:none;
    height: 100%;
    right: 15px;
    position: absolute;
    width: 15px;
    z-index: 1;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
/* хром, сафари */
div::-webkit-scrollbar { display:  none; }
/* ie 10+ */
div { -ms-overflow-style: none; }
.pt10{
    font-size: 10pt;
    line-height: 1 !important;
}
.arrow {
    margin-top: 100px;
    line-height: 1;
}
.arrow i{
    color: #212529 !important;
}
.arrow:hover i{
    color: rgb(122, 125, 127);
    border-radius: 50%;
    text-shadow: 0 0 1px rgba(29,32,34,.7);
}

@media (min-width: 576px) {
    .w450{
        width: 450px;
    }
    .w400{
        width: 400px;
    }
}

.mw700{
    max-width: 700px;
}

.w-98 {
    width: 98% !important;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

img{
    width: 100%;
    max-height: 100%;
}

.avatar_container{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
}

.back_color{
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.my_border{
    border-color: rgba(0, 0, 0, 0.125) !important;
}

.size-normal{
    font-size: 0.875rem !important;
}
.size-small{
    font-size: 0.725rem !important;
}