{% extends 'layout_simple.html' %}

{% block block %}
<div class="w400 container">
<div class="text-center {% if form.non_field_errors %}mb-3{% else %}mb-4{% endif %}">
    <h1 class="h2 font-weight-normal logo mb-0">Мобильный семестр</h1>
</div>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger size-normal" role="alert">
    <strong>Ошибка!</strong> {{ error }}
    </div>
    {% endfor %}
    {% load widget_tweaks %}
    {% if form.username.errors %}
    {% render_field form.username class+="is-invalid" %}
    {% else %}
    {{ form.username }}
    {% endif %}
    {% if form.password.errors %}
    {% render_field form.password class+="is-invalid" %}
    {% else %}
    {{ form.password }}
    {% endif %}
    <div class="custom-control custom-checkbox mr-sm-2 mb-3">
        {{ form.checkbox }}
        <label class="custom-control-label" for="{{ form.checkbox.id_for_label }}">Чужой компьютер</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
</div>
{% endblock%}