{% extends "layout.html" %}

{% block lb-block %}
<div>
    Преподаватель: <a href="">{{ course.teacher }}</a>
</div>
<div class="mb-3">
    Время пары: {{ course.get_day }}, {{ course.time }}
</div>
<table class="table table-sm table-borderless table-striped mb-0 table-responsive-md" id="stable">
<caption>Список студентов</caption>
<thead>
    <tr class="d-flex">
    <th class="th-sm col-1 pr-1 pl-3">#</th>
    <th class="th-sm col-3 pr-1 pl-3">Фамилия</th>
    <th class="th-sm col-2 pr-1 pl-3">Имя</th>
    <th class="th-sm col-2 pr-1">Отчество</th>
    <th class="th-sm col-2 pr-1 pl-3">Группа</th>
    <th class="th-sm col-2 pr-1 pl-3">Баллов</th>
    </tr>
</thead>
<tbody>
{% for s_m in students_marks %}
<div>
<tr class="d-flex">
    <td class="col-1 pr-1">{{ forloop.counter }}</td>
    <td class="col-3 pr-1"><a href="">{{ s_m.0.user.last_name }}</a></td>
    <td class="col-2 pr-1">{{ s_m.0.user.first_name }}</td>
    <td class="col-2 pr-1">{{ s_m.0.user.patronymic }}</td>
    <td class="col-2 pr-1"><a href="{% url 'group' pk=s_m.0.group.pk %}">{{ s_m.0.group }}</a></td>
    <td class="col-2 pr-1">{{ s_m.1 }}</td>
</tr>
</div>
{% empty %}
    Список пуст.
{% endfor %}
</tbody>
</table>
{% if tasks %}
<hr class="mt-1">
<table class="table table-sm table-borderless table-striped mb-0 table-responsive-md" id="ttable">
<caption>Список заданий</caption>
<thead>
    <tr class="d-flex">
    <th class="th-sm col-1 pr-1 pl-3">#</th>
    <th class="th-sm col-9 pr-1">Название</th>
    <th class="th-sm col-2 pr-1 pl-3">До</th>
    </tr>
</thead>
<tbody>
{% for task in tasks %}
<div>
<tr class="d-flex">
    <td class="col-1 pr-1">{{ forloop.counter }}</td>
    <td class="col-9 pr-1"><a href="{% url 'task' pk=task.pk %}">{{ task.name }}</a></td>
    <td class="col-2 pr-1">{{ task.end_date }}</td>
</tr>
</div>
{% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}

{% block rt-block %}
{% if user.is_teacher %}
<button type="button" class="btn btn-primary m-0 btn-block" data-toggle="modal" data-target=".bd-example-modal-xl">Добавить баллов</button>
<div class="modal fade bd-example-modal-xl p-0" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="padding-left: 0px;">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="m-0">Добавить баллов</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-wrap">
                <div class="col-12 col-md-9 pl-0 pr-0 pr-md-3">
                    {{ form.student_teacher_subject.label_tag }}
                    {{ form.student_teacher_subject }}
                </div>
                <div class="col-12 col-md-3 pr-0 pl-0">
                    {{ form.points.label_tag }}
                    {{ form.points }}
                </div>
            </div>
            <div class="d-flex flex-wrap">
                <button type="submit" class="btn btn-primary btn-sm btn-block col-12 col-lg-3 mt-2 mt-lg-0 mb-1">Добавить</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
{% endif %}

<script>
$(document).ready(function () {
$('#stable').DataTable({
"searching": false,
"paging": false,
"info": false,
columnDefs: [{
orderable: false,
targets: 3
}]
});
$('#ttable').DataTable({
"searching": false,
"paging": false,
"info": false,
columnDefs: [{
orderable: false,
targets: 1
}]
});
$('.dataTables_length').addClass('bs-select');
$('.mdb-select').materialSelect();
});
</script>
{% endblock %}