{% extends "layout.html" %}

{% block lb-block %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-9">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <div class="col-12 col-md-3">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="col-12">
            {{ form.specialty.label_tag }}
            {{ form.specialty }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-primary btn-block">Создать</button>
        </div>
    </div>
</form>
<script type="text/javascript">
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});
</script>
{% endblock %}
{% block rt-block %}

{% endblock %}