{% extends "layout.html" %}

{% block lb-block %}
{% if user.is_student %}
    Вы студент.
    2 блока + хз
{% elif user.is_teacher %}
    Вы преподаватель.
    Список преподаваемых курсов
{% else %}
    <a class="btn btn-danger mb-3" href="/admin">Админка</a>
    <a class="btn btn-primary mb-3" href="{% url 'registration' %}">Добавить пользователя</a>
    <a class="btn btn-primary mb-3" href="{% url 'add_subject' %}">Добавить предмет</a>
    <a class="btn btn-primary mb-3" href="{% url 'add_speciality' %}">Добавить направление</a>
    <a class="btn btn-primary mb-3" href="{% url 'add_group' %}">Добавить группу</a>
    <a class="btn btn-primary mb-3" href="{% url 'add_course' %}">Добавить Курс</a>
{% endif %}
{% endblock %}
{% block rt-block %}
{% if user.is_student %}
    Уведомления для студента
{% elif user.is_teacher %}
    Форма добавления задания
{% else %}
    Добавление курса, предмета, пользователей
{% endif %}
{% endblock %}