{% extends "layout.html" %}

{% block lb-block %}
{% if user.is_student %}
<div class="row no-gutters align-items-start ">
    <div class="d-flex flex-column col-12 col-md-6 pr-3 mb-3 position-relative">
        <h4 class="mb-3 font-weight-normal">Ближайшие задания</h4>
        <div class="line"></div>
        <div class="shade d-lg-none"></div>
        {% for foo in student_tasks %}
        {% with foo.0 as task %}{% with foo.1 as course %}
        <div class="d-flex mb-2">
            <div class="onelinetext pr-2 flex-shrink-0"><span class="pt10 text-decoration-none text-body">{{ task.end_date|date:"d.m" }}</span></div>
            <div class="point"></div>
            <div class="flex-column flex-fill" style="min-width:0;">
                <div class="onelinetext ml-2 h5 mb-0 font-weight-normal"><a href="{% url 'task' pk=task.pk %}" class="text-body">{{ task.name }}</a></div>
                <div class="onelinetext ml-2 pt10"><a href="{% url 'course' pk=course.pk %}">{{ course.subject }}</a></div>
            </div>
        </div>
        {% endwith %}{% endwith %}
        {% endfor %}
    </div>
    <div class="d-flex flex-column col-12 col-md-6 p-0 mb-3">
        <div class="d-flex justify-content-between" style="padding: 0 28px;">
            <h4 class="clearfix d-inline-block w-auto mb-0">Расписание</h4>
        </div>
        <div class="d-flex align-items-start">
            <a href="#schedule" role="button" data-slide="prev" class="display rounded-circle mr-2 text-decoration-none text-white arrow left">
                &lt;
            </a>
            <div class="flex-grow-1" style="min-width:0;">
                <div id="schedule" class="carousel slide" data-interval="false" data-ride="carousel">
                    <div class="carousel-inner" >
                        <div class="carousel-item active">
                            <div class="col-12 p-0 font-weight-light onelinetext">Воскресенье, 14.04.2019</div>
                            <div class="d-flex">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>08:00</span><span class="d-none d-sm-inline-block">- 09:30</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>09:45</span><span class="d-none d-sm-inline-block">- 11:15</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>11:30</span><span class="d-none d-sm-inline-block">- 13:00</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>13:30</span><span class="d-none d-sm-inline-block">- 15:00</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-12 p-0 font-weight-light onelinetext">Понедельник, 15.04.2019</div>
                            <div class="d-flex">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>08:00</span><span class="d-none d-sm-inline-block">- 09:30</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>09:45</span><span class="d-none d-sm-inline-block">- 11:15</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                            <div class="d-flex border-top">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>11:30</span><span class="d-none d-sm-inline-block">- 13:00</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-12 p-0 font-weight-light onelinetext">Вторник, 16.04.2019</div>
                            <div class="d-flex">
                                <div class="pt10 align-self-center pr-2 text-center text-secondary flex-shrink-0"><span>08:00</span><span class="d-none d-sm-inline-block"> - 09:30</span></div>
                                <div class="flex-column flex-fill" style="min-width:0;">
                                    <div class="onelinetext pt-1 text-center"><a href="" class="text-body">Математическая логика</a></div>
                                    <div class="onelinetext pt10 pb-1 text-center text-secondary">Платонов М.Л.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#schedule" role="button" data-slide="next" class="display rounded-circle ml-2 text-decoration-none text-white arrow right">
                &gt;
            </a>
        </div>

    </div>
    <div class="col-12">
        123
    </div>
</div>
{% elif user.is_teacher %}
<div class="list-group border-0">
{% for course in courseTeacher %}
    <a href="{% url 'course' pk=course.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex flex-wrap justify-content-md-between">
      <h5 class="col-12 col-md-auto pl-0 mb-0 ">{{ course.subject.name }}</h5>
      <small class=" d-flex justify-content-md-between mt-1">
          <span class="pr-2 pr-md-0">{{ course.get_day }}</span>
          <span class="badge badge-primary badge-pill z-depth-1 timespan">{{ course.time }}</span>
      </small>
    </div>
  </a>
{% endfor %}
</div>
{% else %}
<div>
        <a class="btn btn-danger mb-3" href="/admin">Админка</a>
        <a class="btn btn-primary mb-3" href="{% url 'registration' %}">Добавить пользователя</a>
        <a class="btn btn-primary mb-3" href="{% url 'add_subject' %}">Добавить предмет</a>
        <a class="btn btn-primary mb-3" href="{% url 'add_speciality' %}">Добавить направление</a>
        <a class="btn btn-primary mb-3" href="{% url 'add_group' %}">Добавить группу</a>
        <a class="btn btn-primary mb-3" href="{% url 'add_course' %}">Добавить Курс</a>
    </div>
{% endif %}
{% endblock %}
{% block rt-block %}
{% if user.is_student %}
    Уведомления для студента
{% elif user.is_teacher %}

<button type="button" class="btn btn-primary m-0 btn-block" data-toggle="modal" data-target=".bd-example-modal-xl">Создать задачу</button>
<div class="modal fade bd-example-modal-xl p-0" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="padding-left: 0px;">
    <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="m-0">Создать задание</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                <small id="nameHelpBlock" class="form-text text-muted">
                    Вводите только название задания, нет необходимости вводить название предмета.
                </small>
            </div>
            <div class="form-group">
                {{ form.teacher_subjects.label_tag }}
                {{ form.teacher_subjects }}
            </div>
            <div class="form-group">
                {{ form.end_date.label_tag }}
                {{ form.end_date }}
            </div>
            <div class="form-group">
                {{ form.text.label_tag }}
                {{ form.text }}
            </div>
            <div class="d-flex flex-wrap justify-content-between mt-3">
                <div class="file-field col-12 col-lg-8 pl-0 pr-0">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>{{ form.files.label }}</span>
                        {{ form.files }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate form-control" type="text" placeholder="Загрузите один или более файлов">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm btn-block float-right col-12 col-lg-2 mt-2 mt-lg-0 mb-1">Создать</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
<script>
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.mdb-select').attr("required", "true");
});
$('.datepicker').pickadate({
monthsFull: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
weekdaysFull: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],
weekdaysShort: ['Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб', 'Вс'],
today: '',
clear: 'Очистить',
close: 'Закрыть',
format: 'dd/mm/yyyy',
selectYears: false,
formatSubmit: 'dd/mm/yyyy'
})
</script>
{% else %}
    Добавление курса, предмета, пользователей
{% endif %}
{% endblock %}