<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Описание" />
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/addons/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/addons/datatables.min.js' %}"></script>
<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
<nav class="navbar navbar-expand-md navbar-light grey lighten-5 sticky-top mb-3 z-depth-1">
    <div class="container justify-content-start position-relative">
    <button class="navbar-toggler navbar-toggler-left border-0 pl-0 pr-0 mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand h1 m-0 mr-md-3" href="{% url 'home' %}">Мобильный семестр</a>
    <div class="collapse navbar-collapse pl-5 pl-md-0" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Главная</a>
            </li>
            {% if user.is_student %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Задания
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="{% url 'task_list' page=1 %}">Ближайшие</a>
                    <a class="dropdown-item" href="{% url 'task_list' page=1 type='debts' %}">Задолженности</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'task_list' page=1 type='all' %}">Все</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sheet' %}">Ведомость</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown d-md-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.last_name }} {{ user.first_name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="{% url 'user' %}">Мой профиль</a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Найстройки</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="position-absolute ava dropdown pr-3 d-none d-md-block">
        <a class="ava navbar-light text-decoration-none dropdown-toggle text-body" id="avaLink" href="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.last_name }} {{ user.first_name }}
            <img class="ava" src="{{ user.avatar.url }}" alt="ava">
        </a>
        <div class="dropdown-menu" aria-labelledby="avaLink">
            <a class="dropdown-item" href="{% url 'user' %}">Мой профиль</a>
            <a class="dropdown-item" href="{% url 'settings' %}">Настройки</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
        </div>
        <a class="notice-count text-decoration-none" href="">99</a>
    </div>
    </div>
</nav>
<div class="container">
    <h2 class="font-weight-normal mb-3 text-left">{{ title }}</h2>
    <div class="row no-gutters">
        <div class="col-12 col-lg-2">
            {% block rt-block %}
            {% endblock %}
        </div>
        <div class="col-12 col-lg-10 order-lg-first pt-0 pb-0 pr-lg-3">
            {% block lb-block %}
            {% endblock %}
        </div>
    </div>
</div>
<footer class="container mt-3">
    <div class="border-top p-2">
        Мобильный семестр &copy; {% now 'Y' %}
    </div>
</footer>
</body>
</html>