{% extends "layout.html" %}

{% block lb-block %}

<div class="d-flex flex-column">
    <div>
        {% if user.is_student %}
            {% if student_course.count == 1 %}
                Курс:
            {% else %}
                Курсы:
            {% endif %}
            {% for course in student_course %}
                <a href="{% url 'course' pk=course.pk %}">{{ course }}</a>
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        {% else %}
            {% if courses.count == 1 %}
                Курс:
            {% else %}
                Курсы:
            {% endif %}
            {% for course in courses %}
                <a href="{% url 'course' pk=course.pk %}">{{ course }}</a>
                {% if not forloop.last %}
                    ,
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% with task.teacher_subjects.all.0.teacher as teacher %}
        Преподаватель: <a href="{% url 'user' pk=teacher.pk %}">{{ teacher }}</a>
        {% endwith %}
    </div>
    <div class="mb-3">
        <div>До: {{ task.end_date }}</div>
        {% if mark %}
        <div>Полученно баллов:<span class="d-inline-block p-2 ml-1 rgba-green-strong text-white rounded pt10">{{ mark.points }}</span></div>
        {% endif %}
    </div>
</div>

{% if task.text %}
    <div class="grey lighten-4 pt-3 pb-1 pr-3 pl-3 rounded mb-4">{{ task.text|linebreaks }}</div>
{% else %}
    <div class="text-muted">Нет текста</div>
{% endif %}

{% if files %}
    {% for file in files %}
        <a href="{{ file.file.url }}" class="p-2 btn btn-sm btn-primary hoverable mb-2 mr-2">
            <i class="fas
            {% if file.css_class == 'word'%}
            fa-file-word
            {% elif file.css_class == 'pdf' %}
            fa-file-pdf
            {% elif file.css_class == 'pp' %}
            fa-file-powerpoint
            {% elif file.css_class == 'photo' %}
            fa-file-image
            {% elif file.css_class == 'excel' %}
            fa-file-excel
            {% elif file.css_class == 'text' %}
            fa-file-alt
            {% elif file.css_class == 'other' %}
            fa-file
            {% endif %}
            mr-2 ml-1"></i>
            {{ file }}
        </a>
    {% endfor %}
{% endif %}

{% if completed_task %}
    <div class="pb-4 pr-4 pl-4 pt-3 rounded rgba-green-strong z-depth-1 mt-3">
        <div class="col-12 mb-3 pl-0 pr-0 pt-2 text-white h5 font-weight-normal">
            Отправлено
            {% with completed_task.get_mark as mark %}
                {% if mark %}
                    <div class="d-inline-block float-right h6 p-2 rgba-green-strong rounded">{{ mark.points }}</div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-12 text-white-75 p-0 mb-3">{{ completed_task.text }}</div>
        {% if completed_task_files %}
        <div class="col-12 pl-0">
            <div class="mb-2 d-inline-block mr-2 text-white">Отправленные файлы:</div>
            {% for file in completed_task_files %}
                <a href="{{ file.file.url }}" class="p-2 btn btn-sm btn-primary hoverable mb-2 mr-2">
                <i class="fas
                {% if file.css_class == 'word'%}
                fa-file-word
                {% elif file.css_class == 'pdf' %}
                fa-file-pdf
                {% elif file.css_class == 'pp' %}
                fa-file-powerpoint
                {% elif file.css_class == 'photo' %}
                fa-file-image
                {% elif file.css_class == 'excel' %}
                fa-file-excel
                {% elif file.css_class == 'text' %}
                fa-file-alt
                {% elif file.css_class == 'other' %}
                fa-file
                {% endif %}
                mr-2 ml-1"></i>
                {{ file }}
            </a>
            {% endfor %}
        </div>
        {% endif %}
    {% if form %}
    <div class="d-flex flex-wrap justify-content-between">
    <button type="button" class="btn btn-primary waves-effect m-0 btn-block col-12 col-md-2" data-toggle="modal" data-target="#editTask">Изменить</button>
    <button type="button" class="btn btn-danger btn-sm btn-block col-12 col-md-2 ml-md-2 mt-2 mt-md-0 btn-blue-grey" data-toggle="modal" data-target="#delTask">Удалить</button>
    </div>
    <div class="modal fade bd-example-modal-xl p-0" tabindex="-1" id="editTask" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="padding-left: 0px;">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="m-0">Редактировать</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.text }}
            </div>
            <div class="d-flex flex-wrap justify-content-between mt-3">
                <div class="file-field col-12 col-lg-8 pl-0 pr-0">
                    <div class="btn btn-primary btn-sm float-left">
                        <span>{{ form.files.label }}</span>
                        {{ form.files }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate form-control" type="text" placeholder="Загрузите один или более файлов">
                    </div>
                </div>
                <button type="submit" class="btn order-1 order-md-0 btn-primary btn-sm btn-block float-right col-12 col-lg-2 mt-2 mt-lg-0 mb-1">Отправить</button>
                <div class="col-12 pl-0 order-0 order-md-1 order-md small h6 font-weight-normal text-muted mb-2 mt-1 mb-md-0">Внимание! Изменение файлов удалит все ранее загруженные файлы. Скачайте их, чтобы не потерять.</div>
            </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-xl p-0" tabindex="-1" id="delTask" role="dialog" aria-labelledby="del" aria-hidden="true" style="padding-left: 0px;">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h2 class="m-0">Удалить ответ</h2>
            </div>
            <div class="modal-body pt-0">
            <form method="post">
                {% csrf_token %}
                <div class="d-flex flex-wrap justify-content-around mt-3 mt-md-0">
                    <button type="submit" class="btn btn-danger btn-sm btn-block col-12 col-lg-4 mt-2 mt-lg-0 mb-1">Удалить</button>
                    <button type="button" class="btn btn-primary btn-sm btn-block col-12 col-lg-4 mt-2 mt-lg-0 mb-1" data-dismiss="modal" aria-label="Close">Отмена</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
    </div>
{% elif user.is_student and form %}
    <hr>
    <h6 class="font-weight-normal mb-3 text-muted">Задание не сдано</h6>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        {{ form.text }}
    </div>
    <div class="d-flex flex-wrap justify-content-between mt-3">
        <div class="file-field col-12 col-lg-8 pl-0 pr-0">
            <div class="btn btn-primary btn-sm float-left">
                <span>{{ form.files.label }}</span>
                {{ form.files }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate form-control" type="text" placeholder="Загрузите один или более файлов">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-block float-right col-12 col-lg-2 mt-2 mt-lg-0 mb-1">Отправить</button>
    </div>
    </form>
{% endif %}

{% if user.is_teacher and completed_tasks_marks %}
<hr>
<table class="table table-sm table-striped mb-0 table-responsive-md" id="stable">
<caption>Список ответов</caption>
<thead>
    <tr class="d-flex">
        <th class="th-sm col-1 pr-1 pl-3">#</th>
        <th class="th-sm col-6 pr-1 pl-3">ФИО <span class="text-muted">(ссылка на ответ)</span></th>
        <th class="th-sm col-3 pr-1 pl-3">Дата</th>
        <th class="th-sm col-2 pr-1 pl-3">Баллы</th>
    </tr>
</thead>
<tbody>
{% for completed_task_mark in completed_tasks_marks %}
{% with completed_task_mark.0 as c_task %}
{% with completed_task_mark.1 as mark %}
<div>
<tr class="d-flex">
    <td class="col-1 pr-1">{{ forloop.counter }}</td>
    <td class="col-6 pr-1">
        {% if c_task %}
        <a href="{% url 'completed_task' pk=c_task.pk %}">
            {{ c_task.student.user.last_name }} {{ c_task.student.user.first_name }} {{ c_task.student.user.patronymic }}
        </a>
        {% else %}
            {{ mark.student_teacher_subject.student.user.last_name }} {{ mark.student_teacher_subject.student.user.first_name }} {{ mark.student_teacher_subject.student.user.patronymic }}
        {% endif %}
    </td>
    <td class="col-3 pr-1">
        {% if mark %}
            {{ mark.date|date:'d.m.Y' }}
        {% else %}
            {{ c_task.date|date:'d.m.Y' }}
        {% endif %}
    </td>
    <td class="col-2 pr-1">{{ mark.points|default:"-" }}</td>
</tr>
</div>
{% endwith %}
{% endwith %}
{% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}

{% block rt-block %}

{% if user.is_teacher and form%}
<div class="pb-3 pb-lg-0">
<button type="button" class="btn btn-primary m-0 btn-block" data-toggle="modal" data-target="#addMark">Поставить оценку</button>
<div class="modal fade bd-example-modal-xl p-0" tabindex="-1" id="addMark" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="padding-left: 0px;">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="m-0">Поставить оценку</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex flex-wrap justify-content-between mt-0">
                <div class="form-group col-12 col-md-9 pl-0 pr-0 pr-md-3 mb-0">
                    {{ form.student_teacher_subject.label_tag }}
                    {{ form.student_teacher_subject }}
                </div>
                <div class="form-group col-12 col-md-3 p-0 mb-0">
                    {{ form.points.label_tag }}
                    {{ form.points }}
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-between mt-3 mt-md-0">
                <button type="submit" class="btn btn-primary btn-sm btn-block float-right col-12 col-lg-4 mt-2 mt-lg-0 mb-1">Поставить</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
<a class="btn btn-primary m-0 btn-block mt-2" href="{% url 'task_edit' pk=task.pk %}">Редактировать</a>
<button type="button" class="btn btn-blue-grey m-0 btn-block mt-2" data-toggle="modal" data-target="#delTask">Удалить</button>
<div class="modal fade bd-example-modal-xl p-0" tabindex="-1" id="delTask" role="dialog" aria-labelledby="del" aria-hidden="true" style="padding-left: 0px;">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header border-0">
            <h2 class="m-0">Удалить задачу</h2>
        </div>
        <div class="modal-body pt-0">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-wrap justify-content-around mt-3 mt-md-0">
                <button type="submit" class="btn btn-danger btn-sm btn-block col-12 col-lg-4 mt-2 mt-lg-0 mb-1">Удалить</button>
                <button type="button" class="btn btn-primary btn-sm btn-block col-12 col-lg-4 mt-2 mt-lg-0 mb-1" data-dismiss="modal" aria-label="Close">Отмена</button>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
</div>
{% endif %}

<script type="text/javascript">
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
$('.dataTables_length').addClass('bs-select');
{% if user.is_teacher and completed_tasks_marks %}
$('#stable').DataTable({
"searching": false,
"paging": false,
"info": false,
columnDefs: [
    {orderable: false},
    {type: "date-eu", targets: 3}
]
});
{% endif %}
});
</script>
{% endblock %}